html 
    head
        title Tatry
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        div(style="text-align:center")
            h1 Galeria Tatr
            img(src="https://www.zakopane.pl/assets/zakopane25/media/thumbnails/main_slider/assets/zakopane25/media/files/7935fa53-d740-4d68-9014-2b974c4a7066/9.jpg", alt="tatry" width="400" height="300") 
            img(src="https://i.wpimg.pl/O/2000x1000/d.wpimg.pl/197622964--1141659018/tatry.jpg", alt="tatry" width="400" height="300")
            img(src="https://static.deon.pl/storage/image/core_files/2015/1/4/dade554502fb1b68cfd23e90a7302dde/jpg/deon/articles-thumb-xlarge-breakpoint-default/tatry-wciaz-rosna-ale-kiedys-zastapi-je-morze.jpg", alt="tatry" width="400" height="300") 
            img(src="https://bi.im-g.pl/im/0f/d7/18/z26050319Q,Zabie-Stawy-Mieguszowieckie-w-Wysokich-Tatrach.jpg", alt="tatry" width="400" height="300") 
             
            